///

h1,h2,h3,h4,h5 {
    font-family: work-sans, sans-serif !important;
  }

  p, a, em, span {
    font-family: karla, sans-serif !important;
  }
  
  #motto {
    animation-name:"motto";
    
  }
  .w-dropdown-list.w--open {
    left:-100px;
  }
  .logo-link {
    width:auto;
    height:auto;
    box-shadow: 6px 7px 5px rgb(83,45,59, .4);
  }
  img .menu-icon {
      height: auto;
      width: auto;
  }
  .navigation {
    flex-direction: column !important;
    display: flex;
  
  }
  .navigation-items {
    background-color: floralwhite;
   
    
  }

  .navigation-item {
    padding: 5px;
    height:auto; 
    
  }
  
  .intro-wrap {
    border-radius: 5px;
    align-items: center !important;
    margin-bottom: 0;
    margin-top: 10px !important;
  }
  .heading-jumbo {
    
    font-size: 30px !important;
    letter-spacing: 6px;
    line-height: 35px;
  }
   #heading {
    font-size: 50px;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    line-height: 60px;
    text-align: center;
  }
  .body {
    
    background-color: floralwhite;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: 17px solid darkseagreen !important;
  }
  .div-block-4 {
    background-color: floralwhite;
    border-radius: 5px;
    box-shadow: 6px 7px 5px rgb(83,45,59, .4);
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-wrapper button {
    background-color: lightgreen;
    width: 50vh;
    height: 10vh;
    border-radius: 15px;
    border: 5px solid darkseagreen;
  }

  .section.cc-contact {

     background-color: floralwhite;
    }

    .contact-form-wrap {
    display: grid;
   } 
   
  .w-layout-grid {
    
    display: flex !important;
    flex-direction: column !important;
    justify-items: center;
  }
  /* media queries */

  /* For Desktop View */
@media screen and (min-width: 1024px) {

  picture > img {
    width: 1135px;
    height: 638px;
  }
  .section.cc-contact {
    margin: auto;
    min-width: 100vh;
  }
  
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  picture > img {
    width: 900px;
    height: 675px;
  }
  #heading {
    font-size: 60px;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    line-height: 60px;
    text-align: center;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  picture > img {
    width: 537px;
    height: 537px;
  }
}
  
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  picture > img {
    width: 751px;
    height: 751px;
  } 
  
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  #heading {
        font-size: 45px;
        letter-spacing: 2px;
        line-height: 60px; 
        text-align: center;
    }

    .navigation {
      justify-content: center;
    flex-wrap: wrap;
    display: grid;
    }
    .div-block-4 {
    margin: auto;
    align-items: center; 
    }
    #header > div.div-block-4 > a {
      height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }

    .section.cc-contact {
      
     background-color: floralwhite;
    }
   

   
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  picture > img {
    width: 200px;
    height: 200px;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  picture > img {
    width: 200px;
    height: 200px;
  }
}
  #contact {
      display: grid;
      justify-items: center;
  }

   
   .contact-form-wrap {
    display: grid;
   } 

  .project-name-link {
    font-size: 43px;
    background-color: lightgreen;
  }

  @media screen and (max-width: 991px) {
    .works-grid {
      display:grid !important;
      align-items:initial !important;
    }
  }
  .container {
    width: auto;
  }
  .grid {
     max-width: 1200px;
     grid-template-columns: 1 fr;
    display: grid;
    width: 100%;
    margin: auto;
    justify-items: center;
  }
  .grid:after {
    content: '';
    display: block;
    clear: both;
  } 
  

  .grid-item {
    left: auto !important;
   float: left; 
   width: 100%;
    border: 8px solid black;
    border-color: hsla(0%, 0%, 0%, 0%);
    border-radius: 5px;
    margin: 15px;
  }
 /*  .grid-item--width2 {
    width: 40%;
  }
  .grid-item--width3 {
    width: 60%;
  }
  .grid-item--height2 {
    height: 200px;
  }
  .grid-item-height3 {
    height: 260px;
  }
  .grid-item-height4 {
    height: 380px;
  } */

  picture > img {
    height: auto;
   width: 100%; 
    
  }
  #header > div.div-block-4 > a > img {
    max-width: 100%;
    
  }

  #stamp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .works-grid {
    display: flex !important;
    margin-bottom: 15px;
  }

  li {
    list-style-type: none;
    font-size: 22px;
    letter-spacing: 7px;
    font-weight: 300;
    line-height: 20px;
    padding: 5px;
    margin: 11px;
  }

  .carrer-headline-wrap {
    box-shadow: outset 5px 5px 10px #532d3b;
    margin: 10px;
    padding: 10px;
    
  }

  .work-experience-grid {
    position: relative;
    display: block;
    box-shadow: outset 5px 5px 10px #532d3b;
  }
  
  .work-position-wrap {
    margin: 10px;
    padding: 10px;
  }

  .contact-headline {
    display: grid;

    justify-items: center;
  }

  span, p {
    margin: 15px;
    padding: 10px;
  
  }

  #grid {
    display: grid;
  }
  #button {

    width: 100%;
    border-radius: 20px;
    background-color: darkseagreen;
  }
  #button:hover {
    background-color: orange;
    font-size: 20px;
  }
  #button:active {
    background: linear-gradient(45deg, red, orange, black);
  }
  #contactemail {
    display: grid;

}
  .paragraph-light {
    font-size: 19px;
    opacity: .8;
  }
  .work-description {
    margin: 15px;
    padding: 10px;
    text-align: end;
  }
  a {
    text-decoration: none;
  }






  .w-layout-grid {
    justify-items: center;
    }
    .body {
    border: 17px solid lightgreen !important;
    background-color: floralwhite;
    min-width: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .contact-headline {
    display: grid;
    align-content: space-around;
    justify-content: space-around;
    align-items: end;
    justify-items: center;
  }
  #button {
    margin: 15px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    background-color: #A50024;
  }
  #button:hover {
    background-color: #A50024;
    font-size: 20px;
  }
  #button:active {
    background: linear-gradient(45deg, red, orange, black);
  }
  #contactemail {
    display: flex;

  }
  #contactphone {

    display: flex;
  }
  .paragraph-light {
    font-size: 19px;
    opacity: .8;
  }
  #contact {
      margin: auto;
      display: flex;
      flex-direction: column;
  }

  .contact-form-wrap {
    display: grid;
   } 
   @media screen and (max-width: 479) {
    
    #heading {
        font-size: 45px;
        letter-spacing: 2px;
    }
    .body {
      max-width: 100%;
      overflow-x: hidden;
    
    }

    .navigation {
      justify-content: center;
    flex-wrap: wrap;
    }
    .div-block-4 {
      display: grid;
    align-items: center; 
    }
    #header > div.div-block-4 > a {
      height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }

    .section.cc-contact {
      display: grid !important;
      justify-content: center !important;
      align-items: center !important;
     justify-content: center !important;
     background-color: floralwhite;
    }

    
    
  }
  @media screen and (max-width: 767px) {
    .body {
      max-width: 100%;
      overflow-x: hidden;
    }
  }

  @media screen and (min-width: 1024px) {

picture > img {
  width: 1135px;
  height: 638px;
}
.section.cc-contact {
  margin: auto;
  min-width: 100vh;
}

}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
picture > img {
  width: 900px;
  height: 675px;
}
#heading {
  font-size: 60px;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
picture > img {
  width: 537px;
  height: 537px;
}
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
picture > img {
  width: 751px;
  height: 751px;
} 
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
#heading {
      font-size: 45px;
      letter-spacing: 2px;
  }

  .navigation {
    justify-content: center;
  flex-wrap: wrap;
  }
  .div-block-4 {
    display: grid;
  align-items: center; 
  }
  #header > div.div-block-4 > a {
    height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  }

  .section.cc-contact {
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
   justify-content: center !important;
   background-color: floralwhite;
  }
 

 
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
picture > img {
  width: 200px;
  height: 200px;
}
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
picture > img {
  width: 200px;
  height: 200px;
}
}
  #motto {
    animation-name:"motto";
    
  }
  .navigation {
    flex-direction: column !important;
    display: flex;
  
  }
  .navigation-items {
    background-color: floralwhite;
    justify-content: flex-end;
    
  }

  .navigation-item {
    padding: 5px;
  }
  
  .intro-wrap {
    background-color: floralwhite;
    border-radius: 5px;
    align-items: center !important;
    margin-bottom: 0;
    margin-top: 10px !important;
  }
  .heading-jumbo {
    
    font-size: 30px !important;
    letter-spacing: 6px;
    line-height: 35px;
  }
  body, .body {
    
    background-color: floralwhite;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: 17px solid darkseagreen !important;
  }
  .div-block-4 {
    background-color: floralwhite;
    border-radius: 5px;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-wrapper button {
    background-color: lightgreen;
    width: 50vh;
    height: 10vh;
    border-radius: 15px;
    border: 5px solid darkseagreen;
  }

  .section.cc-contact {
      display: grid !important;
      justify-items: center !important;
      align-items: center !important;
     justify-content: center !important;
     background-color: floralwhite;
    }

  .w-layout-grid {
    
    display: flex !important;
    flex-direction: column !important;
    justify-items: center;
  }
   

  @media screen and (min-width: 768px) {

    #heading {
    font-size: 65px;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
  }

  }
  a {
    text-decoration: none;
  }